/* Common style: This part is for both home and about page */
:root {
  --dark-text: #272a31;
  --dark-background: #313235;
  --red: #fa4229;
  --gray: #d3d3d3;
  --white: white;

  /* calling: var(--color) */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: var(--white);
}

.inline-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.column-center {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

li {
  width: max-content;
  height: auto;
}

section,
footer { padding: 0 20px; }

.page-header {
  width: 100%;
  height: auto;
  box-shadow: 0 0 2px blue;
}

.menu {
  border: none;
  background: none;
  align-self: flex-start;
}

.h-block1 {
  width: 100%;
  background: var(--dark-background);
  padding: 5px 10%;
}

.h-block1 ul {
  align-self: flex-end;
  width: 100%;
  max-width: 300px;
  margin: 0 0 0 auto;
}

/* Home page: This part is only for home page style */

/* About page: This part is only for about page style */
